body {
    margin:0;
    padding: 0;
    color: #10191e;
    background: #FFFFFF;
    font-family: 'FONTSPRING DEMO - Biennale';
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    letter-spacing: 0.7px;
}
a, a:hover {
    text-decoration: none;
}
button:focus, input:focus {
    outline: none !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.header_area {
    padding: 20px 30px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    transition: 0.5s;
    background: transparent;
    background: linear-gradient(to right, #f9ce08, #f9d10e, #fad211);
}
.header_area.fixed_header {
    background: linear-gradient(to right, #f9ce08, #f9d10e, #fad211);
    box-shadow: 0px 0px 10px 10px #97979796;
    transition: 0.5s;
    padding: 7px 30px;
}

.header_area .row{
    align-items: center;
}

.logo{
    position: relative;
}
.logo a{
    display: inline-block;
}
.logo img, .footer_logo img{
    width: 180px;
    height: auto;
}
.bar{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 40px;
    height: 28px;
    overflow: hidden;
    display: none;
    cursor: pointer;
}
.bar > span{
    background: #10191e;
    width: 100%;
    height: 5px;
    border-radius: 100px;
    position: absolute;
    right: 0;
}
.bar > span:first-child{
    top: 0;
}
.bar > span:last-child{
    bottom: 0;
    width: 50%;
}
.bar > span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
    width: 75%;
}

.menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: -15px;
    margin-right: -15px;
}
.menu ul li{
    padding-left: 15px;
    padding-right: 15px;
}
.menu ul li a{
    color: #10191e;
    font-family: 'FONTSPRING DEMO - Biennale';
    font-weight: 500;
    font-size: 20px;
    line-height: 1em;
    display: inline-block;
    letter-spacing: 0.5px;
    transition: 0.3s;
}
.menu ul li a:hover{
    color: #1731e3;
}

.menu ul li a.primary_button {
    font-weight: 900;
    padding: 10px 15px;
}
.primary_button {
    background: #FFF;
    color: #10191e !important;
    font-weight: 900;
    font-family: 'FONTSPRING DEMO - Biennale';
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 200px;
    display: inline-block;
    letter-spacing: 0.3px;
    transition: 0.5s;
}
.primary_button:hover{
    background: #10191e;
    color: #FFFFFF !important;
}

.crypto_area {
    background: url('../images/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.crypto_area::after {
    background: url('../images/bg-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    content: "";
    z-index: -1;
    left: 0;
    bottom: -260px;
    width: 100%;
    height: 700px;
}
.left_crypto_items {
    margin-top: 80px;
}
.left_crypto_items h1 {
    font-weight: 900;
    font-size: 58px;
    line-height: 1.2em;
}
.left_crypto_items h1 span{
    font-family: 'FONTSPRING DEMO - Biennale Ultra';
    font-weight: 200;
}
.left_crypto_items h3 {
    font-weight: 900;
    font-size: 38px;
    line-height: 1em;
    padding-top: 25px;
    padding-bottom: 60px;
}
.left_crypto_items a{}

.right_crypto_items{
    text-align: right;
}
.right_crypto_items img {
    width: 500px;
    height: auto;
}


.app_area{
    background: #FFFFFF;
    padding: 65px 0px;
}
.titles{
    text-align: center;
}
.titles h1 {
    color: #f8ca02;
    font-weight: 900;
    font-size: 60px;
    line-height: 1em;
    text-transform: uppercase;
}
.titles h1 span{
    color: #10191e;
    font-family: 'FONTSPRING DEMO - Biennale Ultra';
    font-weight: 200;
}
.titles p{
    font-family: 'FONTSPRING DEMO - Biennale Book';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 22px;
    line-height: normal;
    margin-top: 30px;
}

.app_images img {
    width: 450px;
}


.app_content, .app_images{
    margin-top: 85px;
}
.app_content h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 1em;
}
.app_content p {
    font-family: 'FONTSPRING DEMO - Biennale Book';
    font-weight: 400;
    color: #747474;
    font-size: 22px;
    line-height: normal;
    padding-top: 20px;
}
.app_images p {
    font-family: 'FONTSPRING DEMO - Biennale Book';
    font-weight: 400;
    font-size: 64px;
    color: #282828;
    text-transform: uppercase;
    line-height: 1em;
}


.pro_area {
    padding: 120px 0px;
    position: relative;
    z-index: 1;
    background: #FFF url('../images/bg-3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.pro_area .titles h1{
    color: #FFF;
}

.pro_area .app_content p {
    color: #10191e;
}

.pro_bottom_box.titles{
    padding-top: 140px;
    position: relative;
    z-index: 11;
}
.pro_bottom_box.titles h1 {
    text-transform: none;
    margin-bottom: 40px;
}
.pro_bottom_box.titles a {
    color: #FFF !important;
    background: #10191e;
}
.pro_bottom_box.titles a:hover{
    background: #FFF;
    color: #10191e !important;
}
.borrow_bottom_box.titles a:hover{
    color: #FFF !important;
    background: #10191e;
}

.borrow_area{
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
}
.borrow_area::after {
    background: #f8ca02 url('../images/bg-4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    content: "";
    z-index: -1;
    left: 0;
    top: -100px;
    width: 100%;
    height: 500px;
}
.borrow_bottom_box.titles{
    padding-top: 140px;
}
.borrow_bottom_box.titles h1 {
    text-transform: none;
    margin-bottom: 40px;
    color: #10191e;
}
.borrow_bottom_box.titles a {
    color: #FFF !important;
    background: #f8ca02;
}

.coming_soon_area {
    background: #FFFFFF url('../images/bg-5.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 120px 0px;
    background-size: cover;
    background-position: 0% 0%;
    padding-top: 350px;
}
.coming_soon_area .titles h1, .coming_soon_area .titles h1 span{
    color: #FFFFFF;
}

.coming_soon_area .titles{
    padding-bottom: 80px;
}

.phase_items{
    margin-top: 40px;
}
.phase_title{
    text-align: center;
}
.phase_title h1{
    font-weight: 900;
    font-size: 42px;
    color: #f8ca02;
    line-height: 1em;
    letter-spacing: 0.5px;
}
.phase_title h1 span{
    color: #FFFFFF;
    font-family: 'FONTSPRING DEMO - Biennale Ultra';
    font-weight: 200;
}
.phase_img{
    text-align: center;
    position: relative;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.phase_img::after {
    background: url('../images/arrow-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    width: 20px;
    height: 20px;
}
.coming_soon_area .col-xl-3:nth-child(3) .phase_items .phase_img::after{
    background: url('../images/arrow-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.coming_soon_area .col-xl-3:nth-child(4) .phase_items .phase_img::after{
    display: none;
}
.phase_img img {
    width: 160px;
    height: 160px;
}
.phase_discription{
    text-align: center;
}
.phase_discription h3{
    font-family: 'FONTSPRING DEMO - Biennale';
    color: #FFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2em;
    letter-spacing: 0.5px;
}
.phase_discription ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.phase_discription ul li {
    font-family: 'FONTSPRING DEMO - Biennale Book';
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
    line-height: normal;
    margin-top: 7px;
}
.coming_soon_area .col-xl-3:nth-child(3) .phase_items .phase_title h1, .coming_soon_area .col-xl-3:nth-child(3) .phase_items .phase_title h1 span, .coming_soon_area .col-xl-3:nth-child(4) .phase_items .phase_title h1, .coming_soon_area .col-xl-3:nth-child(4) .phase_items .phase_title h1 span, .coming_soon_area .col-xl-3:nth-child(3) .phase_items .phase_discription ul li, .coming_soon_area .col-xl-3:nth-child(4) .phase_items .phase_discription ul li, .coming_soon_area .col-xl-3:nth-child(3) .phase_items .phase_discription h3, .coming_soon_area .col-xl-3:nth-child(4) .phase_items .phase_discription h3{
    color: #77838a;
}



.footer_area{
    background: #10191e;
    padding-top: 40px;
}

.footer_box{}
.footer_logo{
    text-align: center;
}
.footer_logo img{}

.footer_box > .menu {
    padding-top: 40px;
}
.footer_box > .menu ul{
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}
.footer_box > .menu ul li{}
.footer_box > .menu ul li a{
    color: #FFFFFF;
}

.social{
    padding-top: 40px;
}
.social ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.social ul li{
    padding-left: 15px;
    padding-right: 15px;
}
.footer_box > .menu ul li:first-child, .social ul li:first-child{
    padding-left: 0;
}
.footer_box > .menu ul li:last-child, .social ul li:last-child{
    padding-right: 0;
}
.footer_box > .menu ul li a:hover{
    color: #f8ca02;
}
.social ul li a {
    width: 70px;
    height: 70px;
    background: #1b2830;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: 0.3s;
}
.social ul li a:hover{
    background: #1b302c;
}
.social ul li a img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.copy_right{
    padding: 40px 15px;
    margin-top: 40px;
    border-top: 1px solid #1b2830;
    text-align: center;
}
.copy_right p{
    font-family: 'FONTSPRING DEMO - Biennale Book';
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
    line-height: normal;
}
.primary_button {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .primary_button .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    font-size: 12px;
    font-weight: 300;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -125px; 
  }
  
  .primary_button:hover .tooltiptext {
    visibility: visible;
  }
  
  .primary_button .tooltipheader {
    margin-top: 10px;
  }

  /* ------------Common-Css-Start--------- */

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {max-width: 1200px;}
}

img {max-width: 100%;}

.row_am {padding: 50px 0;}

.section_title {
    text-align: center;
    margin-bottom: 80px;
}

.section_title h2 {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 15px;
}

.section_title p {
    font-weight: 300;
    font-size: 30px;
    color: #747474;
}

.font_normal {
    font-family: 'poppinsregular';
}

/* --------Top-Section-Css-Start---------- */

.top_banner_area {
    background-image: url(../images/top_bg.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top_banner_area .header_area {
    background-image: none;
}

.header_area.fixed_header {
    background: linear-gradient(to right, #f9ce08, #f9d10e, #fad211);
}

.banner_section {
    padding: 115px 0;
}

.banner_section .row {
    align-items: center;
}

.banner_section .banner_text .top_title {
    color: #10191E;
    font-size: 28px;
    display: block;
    margin-bottom: 15px;
    font-family: 'poppinsregular';
}

.banner_section .banner_text h1 {
    font-size: 65px;
    font-weight: 700;
}

.banner_section .banner_text h1 span {
    font-size: 48px;
    font-weight: 300;
}

.banner_section .banner_text  p {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;
}


/* -----Get-Started-Section-Css-start---- */

.get_start_section {
    padding: 120px 0;
}

.get_start_section .start_panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.get_start_section .start_panel .start_box {
    width: 215px;
    text-align: center;
}

.get_start_section .start_panel .start_box .icon {
    margin-bottom: 35px;
}

.get_start_section .start_panel .start_box .icon img {
    height: 210px;
}

.get_start_section .start_panel .start_box h3 {
    font-size: 24px;
    font-weight: 500;
    color: #10191E;
    padding: 0 15px;
}

.get_start_section .start_panel .start_box h3 span {
    font-family: 'poppinsregular';
}

.get_start_section .start_panel .start_box .btn {
    color: #fff;
    background-color: #10191E;
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 35px;
    border-radius: 50px;
    font-weight: 700;
    display: inline-block;
}

.get_start_section .start_panel .start_box .btn:hover {
    background-color: #F8CA02;
}

/* --------Support-Section-Css-Start---------- */

.support_section {
    background-color: rgba(116, 116, 116, 0.10);
    padding: 100px 0 50px 0;
}

.support_section .support_panel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.support_section .support_box {
    width: 275px;
    text-align: center;
}

.support_section .support_box .icon {
    margin-bottom: 20px;
}

.support_section .support_box h3 {
    font-size: 22px;
    color: #10191E;
    font-weight: 500;
}

.support_section .support_box h3 span {
    font-family: 'poppinsregular';
}

.support_section .support_box .text p {
    font-size: 18px;
    color: #10191E;
    font-weight: 500;
    margin-top: 50px;
}



/* -----------------Benefits-Section-Css-Start------------------- */
.benefits_section {
    padding: 100px 0;
}

.benefits_section .benefits_panel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.benefits_section .benefits_box {
    width: 280px;
    text-align: center;
    margin-bottom: 55px;
}

.benefits_section .benefits_box .icon {
    margin-bottom: 40px;
}

.benefits_section .benefits_box h3 {
    font-size: 24px;
    color: #10191E;
    font-weight: 500;
}

.benefits_section .join_now {
    text-align: center;
}

.benefits_section .join_now .btn {
    font-size: 22px;
    font-weight: 700;
    background-color: #F8CA02;
    padding: 15px 80px;
    color: #fff;
    border-radius: 100px;
}

.benefits_section .join_now .btn:hover {
    background-color: #10191E;
}

/* ------------------Bull-Section-Start----------- */

.bull_section {
    background-color: #10191E;
    padding-top: 100px;
}

.bull_section .section_title {
    margin-bottom: 100px;
}

.bull_section .section_title h2 {
    color: #F8CA02;
}

.bull_section .section_title p {
    color: #fff;
}

.bull_section .bull_panel .bull_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.bull_section .bull_panel .bull_block.revearce_block {
    flex-direction: row-reverse;
}

.bull_section .bull_panel .bull_block .panel_img {
    width: calc(45% - 20px);
}

.bull_section .bull_panel .bull_block .panel_text {
    width: calc(55% - 20px);
}

.bull_section .bull_panel .bull_block .panel_text h3 {
    color: #F8CA02;
    font-size: 37px;
    font-weight: 500;
    margin-bottom: 20px;
}

.bull_section .bull_panel .bull_block .panel_text p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #fff;
}

.bull_section .bull_panel .bull_block .panel_text p:last-child {
    margin-bottom: 0;
}


/* -------------------Process-Section-Css-Start--------------- */

.process_section {
    padding: 0;
    padding-bottom: 100px;
    background-color: #10191e;
    margin-top: -5px;
}

.process_section .section_title h2 {
    color: #F8CA02;
}

.process_section .process_panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.process_section .process_panel .process_box {
    width: 280px;
    text-align: center;
}

.process_section .process_panel .process_box .icon {
    margin-bottom: 45px;
}

.process_section .process_panel .process_box .icon img {
    height: 210px;
}

.process_section .process_panel .process_box h3 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    padding: 0 15px;
}

.process_section .process_panel .process_box .btn {
    color: #10191E;
    background-color: #F8CA02;
    margin-top: 30px;
    font-size: 20px;
    padding: 8px 48px;
    border-radius: 50px;
    font-weight: 700;
    display: inline-block;
}

.process_section .process_panel .process_box .btn:hover {
    background-color: #fff;
}

.banner_text {
    text-align: center;
}

